/* phone layout */

@media (max-width: 725px){
    .topnav_phone .nav, .content_horizontal, .services .content .type_title, .insights .content, .network .content_horizontal_network, .contact .content, .footer_area, .legal_content{
        margin: auto;
        width: 94%;
    }
    section{
        padding: 24px 0;
    }
    .main_sec{
        height: 100vh;
    }
    .section2{
        height: 100%;
    }
    .phone_talk{
        padding: 0 8px;
    }
    .main_content .hero_desc{
        width: 100%;
    }
    .hero_desc h2 {
        font-size: 32px;
        width: 320px;
    }
    .hero_desc p{
        font-size: 16px;
    }
    .type_title h4, .vertical h4{
        font-size: 16px;
    }
    .sec2_desc_btn .title_desc h3, .insights h3, .network h3, .contact h3{
        font-size: 26px;
        width: 98%;
    }
    .sec2_desc_btn .main_btn{
        width: 100%;
    }
    .sec2_desc_btn{
        width: 100%;
    }
    .title_desc p{
        font-size: 16px;
    }
    .services ul li{
        font-size: 26px;
    }
    .detail_btn{
        font-size: 14px;
    }
    .title_desc_sec3,.title_desc, .title_desc_sec3{
        width: 100%;
    }
    .network_desc_btn{
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    #globeViz{
        width: 100% !important;
        height: 100% !important;
    }
    #globeViz canvas{
        width: 100% !important;
        height: 100% !important
    }
    #globeViz .scene-container{
        width: 100% !important;
        height: 100% !important;
    }
    .btn_main{
        width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    }
    .submit_area .btn_main{
        width: 30%;
    }
    .submit_area h4{
        font-size: 20px;
    }
    .contact_form{
        margin-top: 56px;
    }
    .footer_area{
        display: flex;
        gap: 40px;
    }
    .address_group{
        width: 100%;
        gap: 24px;
    }
    .address{
        justify-content: space-between;
    }
    .legal_content{
        display:flex;
        justify-content: center;
    }
    .legal_content ul{
        width: 58%;
    }
    .type_title{
        width: 100%;
    }
    .network_desc_btn{
        justify-content: flex-start;
    }
    
    .legal_content ul li{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #lang_option_phone{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        top: 56px;
        padding: 16px;
        right: 0px;
        width: 120px;
        background: #fff;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 0 0 8px 8px;
        backdrop-filter: blur(1.6px);
    }
    .address{
        flex-direction: column;
        gap: 4px;
    }
    .sec2_desc_btn,.network_desc_btn{
        gap: 48px;
    }
    .bottom_nav_tablet_active{
        height: 84%;
    }
    .legal_content ul{
        width: 100%;
    }
    .card_img{
        width: 100%;
        height: 320px;
        overflow: hidden;
        background-color: #1C45AE;
    }
    
}