#container {
    width: 100%;
    margin: 20px auto;
}
.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 200px;
}
.ck-content .image {
    /* block images */
    max-width: 80%;
    margin: 20px auto;
}

.attatch_file_btn,.post_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:none;
    position: relative;
}

.post_btn{
    font-size: 1rem;
    text-transform: uppercase;
    padding: 16px;
    color: #f7f7f7;
    background-color: #1C45AE;
}
.attatch_file_btn span,.post_btn{
    font-size: 1rem;
}

.upload{
    height: 420px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}
.upload>img{
    width: 48px;
}

input[type="file"]{
    opacity: 0;
    /* position:absolute; */
    top:8px;
}

#output{
    width: 100%;
    height: 420px;
    object-fit: cover;
    border: none;
}

.add_title{
font-size: 32px;
}
.post_title{
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}

.post_title input[type="text"]{
    border-bottom: 1px solid #1C45AE;
    width: 90%;
    padding: 8px 16px;
    color: #29282e;
    font-size: 1.2rem;
}

.post_title input[type="text"]::placeholder{
    color: #6e6e70;
    font-size: 1.2rem;
}
.type_of_group{
    padding: 24px 0;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    flex-direction: column;
}
.type_of_group>div{
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    flex-direction: row;
}
.choose_type_of{
    font-size: 1.6rem;
}
.type_of{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row
}

.add_post_form{
    padding: 24px 16px;
}